*~
.cproject
.settings
.project
examples
pll/CMakeFiles/
pll/Makefile
pll/cmake_install.cmake
pll/libpll.a
pll_test/
test_scripts/iqtree_release
test_scripts/iqtree_test
tags
test_scripts/iqtree_test_cmds.txt
pllrepo/
build/
/Default-clang
.idea/
.idea/codeStyleSettings.xml
/GPATH
/GRTAGS
/GTAGS
/.dir-locals.el
/iqtree_config.h
.DS_Store
*.ipch
*.log
/.vs/
example/
sprng/
terraphast/
test_scripts/
vectorclass/
zlib-1.2.7/
