name: Linux x86_64

on:
  push: 
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    name: Linux x86_64
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gcc-version: [10, 12]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: "recursive"

    - name: Install dependencies
      run: |
        sudo apt-get update -q -y
        sudo apt-get install -q -y gcc-${{ matrix.gcc-version }} g++-${{ matrix.gcc-version}} cmake libeigen3-dev libboost-dev

    - name: Build
      run: |
        mkdir build
        cd build
        export CXXFLAGS="-std=c++14" # this is important to be able to build with g++ newer than v10
        cmake .. -DCMAKE_C_COMPILER=$(which gcc-${{ matrix.gcc-version }}) -DCMAKE_CXX_COMPILER=$(which g++-${{ matrix.gcc-version }})
        make -j
        file iqtree2 | grep x86-64

  build-aarch64:
    name: Linux aarch64
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Build on Linux ARM64
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: aarch64
          distro: ubuntu20.04
          githubToken: ${{ github.token }}
          dockerRunArgs: |
            --volume "${PWD}:/iqtree2"
          install: |
            apt-get update -q -y
            apt-get install -q -y cmake gcc g++ file libeigen3-dev libboost-dev
          run: |
            cd /iqtree2
            mkdir build
            cd build
            cmake ..
            make -j
            file iqtree2 | grep aarch64

  build-macos-m:
    name: Mac OS ARM64
    runs-on: macos-14

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: "recursive"

    - name: Install dependencies
      run: brew install make eigen boost libomp

    - name: Build
      run: |
        set -x
        mkdir build
        cd build
        export LDFLAGS="-L/opt/homebrew/opt/libomp/lib"
        export CPPFLAGS="-I/opt/homebrew/opt/libomp/include"
        export CXXFLAGS="-I/opt/homebrew/opt/libomp/include"
        cmake .. -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++
        gmake -j
        file iqtree2 | grep arm64
